:root {
    --bg: #1a1916;
    --navbarbg: #15140f;
    --text: #d4c9b0;
    --link: #a08a5e;
    --muted: #6b6356;
    --border: #2e2a23;
    --navpanelw: 100%;
    --mainw: 100%;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: var(--text);
    display: flex;
    flex-direction: column;
    font:
        16px/1.5 system-ui,
        -apple-system,
        Segoe UI,
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji";
}

html {
    background: var(--bg);
}

#nav-panel {
    background-color: var(--navbarbg);
    width: var(--navpanelw);
    box-shadow: 5px 0px 10px #0000000f;
    padding: 1em 2em 1em 1em;
}

#nav-panel.notmain .hideifnotmain {
    display: none;
}

#nav-panel .title {
    margin: 0;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.projects-ul {
    padding-left: 1em;
}

.muted {
    color: var(--muted);
}

main {
    width: var(--mainw);
    padding-top: 3m;
    padding-right: 0em;
    padding-left: 1em;
    height: fit-content;
}

#plant-bg {
    z-index: -1;
    min-height: 800px;
    margin-top: -80%;
}

article {
    margin-top: 3em;
}

.meta {
    font-weight: normal;
    font-size: 0.9em;
}

.tags {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: -1em 0 1em;
    padding-left: 1em;
}

.tags li {
    font-size: 0.75rem;
}

.projects-ul-span {
    display: flex;
}

.projects-ul-span .tags {
    margin: 0.25em;
    gap: 0.5em;
}

ul.socials {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

ul#favorites {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    padding-left: 1em;
}

.title a {
    color: var(--text);
}

@media (min-width: 900px) {
    :root {
        --navpanelw: 350px;
        --mainw: 40%;
    }

    #nav-panel {
        height: 100%;
        position: fixed;
    }

    #nav-panel.notmain .hideifnotmain {
        display: block;
    }

    main {
        margin-left: var(--navpanelw);
        padding-left: 6em;
    }

    #plant-bg {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 800px;
        height: 800px;
        margin-top: 0;
        pointer-events: none;
    }
}
